{{#section "css"}}
    <link rel="stylesheet" type="text/css" href="../../../public/assets/css/register.css" />
{{/section}}
<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <form class="form-horizontal" method="post" id="frmRegister">
                <h4 class="card-header" align="center">
                    Account Registration
                </h4>
                <label for="txtFirstName">First Name</label>
                <input name="firstName" type="text" class="form-control" id="txtFirstName" placeholder="Enter first name" autofocus required/>
                <label for="txtLastName">Last Name</label>
                <input name="lastName" type="text" class="form-control" id="txtLastName" placeholder="Enter last name" autofocus required/>

                <label for="txtPassword">Password</label>
                <input name="password" type="password" class="form-control" id="txtPassword" placeholder="Enter Password" required>

                <label for="txtConfirm">Confirm Password</label>
                <input type="password" class="form-control" id="txtConfirm" placeholder="Enter Confirm Password" required>

                <label for="txtEmail">Email</label>
                <input name="email" type="text" class="form-control" id="txtEmail" placeholder="Enter Email">

                <label for="txtGender">Gender</label>
                <select name="gender" class="form-control" id="txtGender">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>

                <div class="clearfix">
                    <button type="submit" class="signupbtn" formaction="/account/register" >Sign Up</button>
                </div>

                <div class="d-flex justify-content-center links">
                    Do have an account? <a href="/account/login"> Log in</a>
                </div>
            </form>
        </div>
        <div class="col-sm-4"></div>
    </div>

</div>

{{#section "js"}}
<script>
    document.getElementById("frmRegister").on('submit', function (e) {
        e.preventDefault();

        const pass = document.getElementById("txtPassword").value;
        const confirmPass = document.getElementById("txtConfirm").value;

        if (pass != confirmPass) {
            alert('Password and Confirm password are not same.');
            return;
        }
        document.getElementById("frmRegister").off('submit').submit();
    });
</script>
{{/section}}
