<div class="col-7">
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="width: 90%; height: 1.105cm">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            <i class="fa fa-search" aria-hidden="true"></i>
        </button>
    </form>
</div>
<div class="col-2">
    <div class="btn-group">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: black">
            Welcome, <b>Administrator</b>
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/admin/manageteachers">Teacher list</a>
            <a class="dropdown-item" href="/admin/managestudents">Student list</a>
            <a class="dropdown-item" href="/admin/managecategory">Category List</a>
            <a class="dropdown-item" href="/admin/managelanguage">Language List</a>
            <a class="dropdown-item" href="/admin/managecourses">Course List</a>
            <a class="dropdown-item" href="#">Setting</a>
            <div class="dropdown-divider"></div>
            <form id="frmLogout" action="/account/logout" method="post"></form>
            <a class="dropdown-item" href="/account/logout">
                <i class="fa fa-sign-out" aria-hidden="true"></i>
                Logout
            </a>
        </div>
    </div>
</div>
