<!--Guest-->
<div class="col-6">
  <form class="form-inline" action="/categories/search?" id="search-form">
    <input
      class="form-control mr-sm-2"
      type="search"
      placeholder="Search"
      aria-label="Search"
      style="width: 90%; height: 1.105cm"
      name="key"
      id="search-textfield"
    />
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="height: 1.105cm">
      <i class="fa fa-search" aria-hidden="true"></i>
    </button>
  </form>
</div>

<div class="col-2 d-flex" style="justify-content: flex-end">
  <a class="nav-link navbar1" href="/account/register">Signup</a>
  <a class="nav-link navbar1" href="/account/login">Login</a>
</div>

<script>
  document.querySelector("#search-form").addEventListener("submit", function (e) { if
  (document.getElementById("search-textfield").value.trim() === "") { e.preventDefault(); } });
</script>