   <nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
      <div class="row" style="width: 100%">
        <div class="col-sm-2">
          <a class="navbar-brand" href="/" style="color: black">AcademyOnline</a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>

        <div class="col-sm-1">
          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
              Explore
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Category 1</a>
              <a class="dropdown-item" href="#">Category 2</a>
              <a class="dropdown-item" href="#">Category 3</a>
            </div>
          </div>
        </div>

        <!--Guest-->
        <div class="col-sm-6">
          <form class="form-inline">
            <input
              class="form-control mr-sm-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
              style="width: 90%"
            />
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </form>
        </div>

        <div class="col-sm-3" align="right">
          <a class="nav-link navbar1" href="/account/register">Join for Free</a>
          <a class="nav-link navbar1" href="/account/login">Login</a>
        </div>

        <!--            -->
        <!--                &lt;!&ndash;Student&ndash;&gt;-->
        <!--                -->
        <!--                    <div class="col-7">-->
        <!--                        <form class="form-inline">-->
        <!--                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="width: 90%">-->
        <!--                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">-->
        <!--                                <i class="fa fa-search" aria-hidden="true"></i>-->
        <!--                            </button>-->
        <!--                        </form>-->
        <!--                    </div>-->
        <!--                    <div class="col-2">-->
        <!--                        <div class="btn-group">-->
        <!--                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
        <!--                                Welcome, <b>Username Student</b>-->
        <!--                            </a>-->
        <!--                            <div class="dropdown-menu">-->
        <!--                                <a class="dropdown-item" href="#">Personal Profile</a>-->
        <!--                                <a class="dropdown-item" href="#">My learning</a>-->
        <!--                                <a class="dropdown-item" href="#">Wishlist</a>-->
        <!--                                <a class="dropdown-item" href="#">Setting</a>-->
        <!--                                <div class="dropdown-divider"></div>-->
        <!--                                    <form id="frmLogout" action="/account/logout" method="post"></form>-->
        <!--                                    <a class="dropdown-item" href="javascript: document.getElementById('#frmLogout').submit();">-->
        <!--                                        <i class="fa fa-sign-out" aria-hidden="true"></i>-->
        <!--                                        Logout-->
        <!--                                    </a>-->
        <!--                            </div>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                -->

        <!--                -->
        <!--&lt;!&ndash;                    Teacher&ndash;&gt;-->
        <!--                    <div class="col-7">-->
        <!--                        <form class="form-inline">-->
        <!--                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="width: 90%">-->
        <!--                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">-->
        <!--                                <i class="fa fa-search" aria-hidden="true"></i>-->
        <!--                            </button>-->
        <!--                        </form>-->
        <!--                    </div>-->
        <!--                    <div class="col-2">-->
        <!--                        <div class="btn-group">-->
        <!--                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
        <!--                                Welcome, <b>Username</b>-->
        <!--                            </a>-->
        <!--                                <div class="dropdown-menu" align="right">-->
        <!--                                    <a class="dropdown-item" href="#">Personal Profile</a>-->
        <!--                                    <a class="dropdown-item" href="#">My courses</a>-->
        <!--                                    <a class="dropdown-item" href="#">Setting</a>-->
        <!--                                    <div class="dropdown-divider"></div>-->
        <!--                                        <form id="frmLogout" action="/account/logout" method="post"></form>-->
        <!--                                        <a class="dropdown-item" href="javascript: document.getElementById('#frmLogout').submit();">-->
        <!--                                            <i class="fa fa-sign-out" aria-hidden="true"></i>-->
        <!--                                            Logout-->
        <!--                                        </a>-->
        <!--                                </div>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                -->
        <!--           -->
      </div>
    </nav>