<nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top row">
        <a class="navbar-brand col-2" href="#" style="color: black">AcademyOnline</a>
        <div class="border-left col-2">
            <p style="margin-bottom:0; line-height: 50px; padding-left: 5px; font-size: 20px;">Step 1 of 3</p>
        </div>
        <div class="col-8">
            <a href="/teacher/profile/my_course" class="float-right pr-3 font-weight-bold" style="text-decoration:none; font-size:20px;">Exit</a>
        </div>
    </nav>