{{#section "css"}}
  <link rel="stylesheet" href="../../public/assets/css/student_profile.css" />
{{/section}}
<div style="margin-top: 80px;">
  <div class="main-content-student">
    <div class="container">
      <div class="row">
        <div
          class="col-md-2 d-none d-md-block bg-light sidebar"
          style="height: 100%;"
        >
          <div class="list-group" id="list-tab" role="tablist">
            <div class="card text-center" style="background-color: #F2F2F2;">
              <div class="img-profile">
                <img
                  class="img-fluid rounded-circle img-thumbnail img-responsive"
                  src="https://media.npr.org/assets/img/2022/05/25/gettyimages-917452888-edit_custom-c656c35e4e40bf22799195af846379af6538810c-s1100-c50.jpg"
                  alt="none"
                />
              </div>
              <div>
                <p>Name</p>
              </div>
            </div>
            <a
              href="/student"
              class="list-group-item list-group-item-action"
              id="list-profile-list"
            >Profile</a>
            <a
              href="/student/photo"
              class="list-group-item list-group-item-action"
              id="list-photo-list"
            >Photo</a>
            <a
              href="/student/account_security"
              class="list-group-item list-group-item-action"
              id="list-password-list"
            >Account Security</a>
            <a
              href="/student/course_learn"
              class="list-group-item list-group-item-action active"
              id="list-courses-list"
            >My learning</a>
            <a
              href="/student/favorite_course"
              class="list-group-item list-group-item-action"
              id="list-favorite-list"
            >Favorite course</a>
          </div>
        </div>
        <div class="col-9 h-100">
          <div class="tab-content" id="nav-tabContent">
            <div
              class="tab-pane fade show active"
              id="list-courses"
              role="tabpanel"
              aria-labelledby="list-courses-list"
            >
              <div class="card text-center">
                <div
                  class="card-header"
                  style="background-color: #2b6777; color: #ffffff;"
                >
                  <h3>My Learning</h3>
                  <p>All your courses </p>
                </div>
                <div class="card-body" style="background-color: #f2f2f2;">
                  <div class="more-courses-container">
                    <div class="course">
                      <div class="course-img"><img
                          class="img-fluid"
                          src="https://internetmarketing.gold/wp-content/uploads/2022/06/jr.png"
                          alt=""
                        />
                      </div>
                      <div class="course-body">
                        <div class="course-categoty">Category</div>
                        <div class="course-title">Title</div>
                        <div class="course-icon-row">
                          <div class="progress">
                            <div
                              class="progress-bar bg-success"
                              role="progressbar"
                              style="width: 25%;"
                              aria-valuenow="25"
                              aria-valuemin="0"
                              aria-valuemax="100"
                            >25%
                            </div>
                          </div>
                        </div>
                        <button class="btn course-btn">Learn course</button>
                      </div>
                    </div>
                    <div class="course">
                      <div class="course-img"><img
                          class="img-fluid"
                          src="https://internetmarketing.gold/wp-content/uploads/2022/06/jr.png"
                          alt=""
                        />
                      </div>
                      <div class="course-body">
                        <div class="course-categoty">Category</div>
                        <div class="course-title">Title</div>
                        <div class="course-icon-row">
                          <div class="progress">
                            <div
                              class="progress-bar bg-success"
                              role="progressbar"
                              style="width: 25%;"
                              aria-valuenow="25"
                              aria-valuemin="0"
                              aria-valuemax="100"
                            >25%
                            </div>
                          </div>
                        </div>
                        <button class="btn course-btn">Learn course</button>
                      </div>
                    </div>
                    <div class="course">
                      <div class="course-img"><img
                          class="img-fluid"
                          src="https://internetmarketing.gold/wp-content/uploads/2022/06/jr.png"
                          alt=""
                        />
                      </div>
                      <div class="course-body">
                        <div class="course-categoty">Category</div>
                        <div class="course-title">Title</div>
                        <div class="course-icon-row">
                          <div class="progress">
                            <div
                              class="progress-bar bg-success"
                              role="progressbar"
                              style="width: 25%;"
                              aria-valuenow="25"
                              aria-valuemin="0"
                              aria-valuemax="100"
                            >25%
                            </div>
                          </div>
                        </div>
                        <button class="btn course-btn">Learn course</button>
                      </div>
                    </div>
                    <div class="course">
                      <div class="course-img"><img
                          class="img-fluid"
                          src="https://internetmarketing.gold/wp-content/uploads/2022/06/jr.png"
                          alt=""
                        />
                      </div>
                      <div class="course-body">
                        <div class="course-categoty">Category</div>
                        <div class="course-title">Title</div>
                        <div class="course-icon-row">
                          <div class="progress">
                            <div
                              class="progress-bar bg-success"
                              role="progressbar"
                              style="width: 25%;"
                              aria-valuenow="25"
                              aria-valuemin="0"
                              aria-valuemax="100"
                            >25%
                            </div>
                          </div>
                        </div>
                        <button class="btn course-btn">Learn course</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>