{{#section "css"}}
  <link
    rel="stylesheet"
    type="text/css"
    href="../../../../public/assets/css/lecture.css"
  />
  <link
    rel="stylesheet"
    type="text/css"
    href="https://vjs.zencdn.net/7.20.3/video-js.css"
  />
{{/section}}
<div class="main-lecture-content">
  <div class="container-lecture">
    <div class="heading-lecture">
      <nav
        class="navbar navbar-expand-lg navbar-light bg-light"
        style="background-color: #2B6777 !important; color: #fff"
      >
        <a class="navbar-brand" href="#" style="color: #fff">AcademyOnline</a>

        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="name-course">
          Modern JavaScript for React JS - ES6 [2022]
        </div>
      </nav>
    </div>
    <div class="main-content">
      <div class="block-video" style="width: 70%;">
        <video
          id="my-video"
          class="video-js"
          controls
          preload="auto"
          width="940.16"
          height="387.816"
          poster="MY_VIDEO_POSTER.jpg"
          data-setup="{}"
        >
          <source
            src="https://mp4-c.udemycdn.com/2020-04-24_13-27-46-070c1060ceb1bf4f7bffef781efaa787/WebHD_720p.mp4?Expires=1672668014&Signature=LH75Mh7b-sQZ~Oh6sfiGMYghDQIMhRP4pblHsASm1WvWSZCF0N0xGI4zA8r1fSDGOLXarPqDtgOuGXXMwVQN9VKZwNZPo4HWb0G4o1tL3O1nkFjDbwGYu2QTMwlHYUYBuVIBc0kxXqOiZAsLVPC~dfuqVoworHbo-wtnlqZRqFYUmnXbfS8Jcsj2O4ig0zoFqXm0wv37pcuE68LcaMtwjlBcS~PI3rvLXjz4x3qPmFOZXd3o1D-1q6DzQ10kkS2N0eH7It3rEcOgi9Zro02Dyb64HWf61zAmJQzA7pHlk8PPDoGLk8D3Qhy2Rv0De9oeoGJNVXKRp78Z-le1ckgCcg__&Key-Pair-Id=APKAITJV77WS5ZT7262A"
            type="video/webm"
          />
          <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading
            to a web browser that
            <a
              href="https://videojs.com/html5-video-support/"
              target="_blank"
            >supports HTML5 video</a>
          </p>
        </video>
        <div class="heading-lecture">
          ES6 - Variable Creation using "let" and "const"
        </div>
        <div class="main-rating">
          <div class="main-title">
            <h2>Student feedback</h2>
            <div class="card-body">
              <div class="row">
                <div class="col-md-4">
                  <button class="rating_circle">4.1</button>
                  <div>
                    <div class="stars-outer mt-4">
                      <div class="stars-inner"></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="progress mt-5" style="height:10px">
                    <div
                      class="progress-bar dark"
                      style="width:70%;height:10px"
                    ></div>
                  </div>
                  <div class="progress mt-3" style="height:10px">
                    <div
                      class="progress-bar dark"
                      style="width:10%;height:10px"
                    ></div>
                  </div>
                  <div class="progress mt-3" style="height:10px">
                    <div
                      class="progress-bar dark"
                      style="width:10%;height:10px"
                    ></div>
                  </div>
                  <div class="progress mt-3" style="height:10px">
                    <div
                      class="progress-bar dark"
                      style="width:5%;height:10px"
                    ></div>
                  </div>
                  <div class="progress mt-3" style="height:10px">
                    <div
                      class="progress-bar dark"
                      style="width:5%;height:10px"
                    ></div>
                  </div>
                </div>
                <div class="col-md-1">
                  <div class="row">
                    <h6 class="rating_text">5</h6>
                  </div>
                  <div class="row">
                    <h6 class="">4</h6>
                  </div>
                  <div class="row">
                    <h6 class="">3</h6>
                  </div>
                  <div class="row">
                    <h6 class="">2</h6>
                  </div>
                  <div class="row">
                    <h6 class="">1</h6>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <form>

                <div class="form-group">
                  <button
                    type="button"
                    class="btn btn-info btn-lg openmodal"
                    data-toggle="modal"
                    data-target="#myModal"
                  >Open Modal</button>

                  <!--Division for Modal-->
                  <div id="myModal" class="modal fade" role="dialog">

                    <!--Modal-->
                    <div class="modal-dialog">

                      <!--Modal Content-->
                      <div class="modal-content">

                        <!-- Modal Header-->
                        <div class="modal-header">
                          <h3>Feedback Request</h3>

                          <!--Close/Cross Button-->
                          <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            style="color: white;"
                          >&times;</button>
                        </div>

                        <!-- Modal Body-->
                        <div class="modal-body text-center">
                          <i
                            class="far fa-file-alt fa-4x mb-3 animated rotateIn icon1"
                          ></i>
                          <h3>Your opinion matters</h3>
                          <h5>Help us improve our product?
                            <strong>Give us your feedback.</strong></h5>
                          <hr />
                          <h6>Your Rating</h6>
                        </div>

                        <!-- Radio Buttons for Rating-->
                        <div class="form-check mb-4">
                          <input name="feedback" type="radio" />
                          <label class="ml-3">Very good</label>
                        </div>
                        <div class="form-check mb-4">
                          <input name="feedback" type="radio" />
                          <label class="ml-3">Good</label>
                        </div>
                        <div class="form-check mb-4">
                          <input name="feedback" type="radio" />
                          <label class="ml-3">Mediocre</label>
                        </div>
                        <div class="form-check mb-4">
                          <input name="feedback" type="radio" />
                          <label class="ml-3">Bad</label>
                        </div>
                        <div class="form-check mb-4">
                          <input name="feedback" type="radio" />
                          <label class="ml-3">Very Bad</label>
                        </div>

                        <!--Text Message-->
                        <div class="text-center">
                          <h4>What could we improve?</h4>
                        </div>
                        <textarea
                          type="textarea"
                          placeholder="Your Message"
                          rows="3"
                        ></textarea>

                        <!-- Modal Footer-->
                        <div class="modal-footer">
                          <a href="" class="btn btn-primary">Send
                            <i class="fa fa-paper-plane"></i>
                          </a>
                          <a
                            href=""
                            class="btn btn-outline-primary"
                            data-dismiss="modal"
                          >Cancel</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="content-rating">
              <div class="review-container">
                <div class="review-heading">
                  <div class="review-profile">
                    <div class="block-img">
                      <img
                        src="https://wallpapercave.com/wp/wp5609975.jpg"
                        alt=""
                      />
                    </div>
                    <div class="review-infomation">
                      <h3>Kannan M.</h3>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <span class="week">3 week ago</span>
                    </div>
                  </div>
                  <div class="popper">
                    <div class="btn-group">
                      <button
                        class="btn btn-secondary dropdown-toggle"
                        type="button"
                        id="triggerId"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                      ></button>
                      <div
                        class="dropdown-menu dropdown-menu-right"
                        aria-labelledby="triggerId"
                      >
                        <a class="dropdown-item" href="#">Report</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="review-content">
                  Course is really Fantastic. Detailed Explanation given for
                  each Section. Also Hands on Exercise at end of each topic
                  gives confidence after learning each topic. Milestone Projects
                  makes to think a lot while coding.
                </div>
                <div class="rewiew-rating">
                  <div class="help">Helpful?</div>
                  <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                  <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-panel" style="width: 30%;">
        <div
          class="sticky-panel"
          id="accordianId"
          role="tablist"
          aria-multiselectable="true"
          witdth="100%"
        >
          <div class="header-course">Course Content</div>
          <div class="card card-content">
            <div class="card-header" role="tab" id="section1HeaderId">
              <h5 class="mb-0">
                <div
                  data-toggle="collapse"
                  data-parent="#accordianId"
                  href="#section1ContentId"
                  aria-expanded="true"
                  aria-controls="section1ContentId"
                >
                  <div class="accordion-course">
                    <i class="fa fa-chevron-down icon" aria-hidden="true"></i>
                    <div class="block-title">
                      <button class="btn-list-course">
                        <span class="course-title">
                          <span>Section 1: ES6</span>
                          <span>
                            0/16 | 1hr29min
                          </span>
                        </span>
                      </button>
                    </div>
                  </div>
                </div>
              </h5>
            </div>
            <div
              id="section1ContentId"
              class="collapse in"
              role="tabpanel"
              aria-labelledby="section1HeaderId"
            >
              <div class="card-body">
                <ul class="block-list">
                  <li>
                    <div class="section-previewable">
                      <div>
                        <span>
                          <input type="checkbox" name="checked" id="checkbox" />
                        </span>
                      </div>
                      <div class="block-list-item-content">
                        <div class="name-content">
                          ES6 - Variable Creation using "let" and "const"
                        </div>
                        <div class="review-time">
                          <i
                            class="fa fa-play-circle icon-item-content"
                            aria-hidden="true"
                          ></i>
                          <span>4:10</span>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{#section "js"}}
  <script src="https://vjs.zencdn.net/7.20.3/video.min.js"></script>
  <script>
    $(document).ready(function () { var ratings = 4.1; var starTotal = 5; var
    starPercentage = ratings / starTotal * 100; var star = starPercentage + '%';
    $(".stars-inner").width(star); });
  </script>
{{/section}}