<head>
    <style>
        .swiper { width: 90%; margin-top: 80px;} .slider-img { width: 100%; } .swiper-pagination-bullet { color: white;
        } .swiper .swiper-pagination-bullet-active { background-color: white; } .swiper-pagination-bullet:hover {
        opacity: 0.5; transition: opacity .3s ; } .swiper-button-next, .swiper-button-prev { color: white; }
        .swiper-button-next:hover, .swiper-button-prev:hover{opacity: 0.8; transition: opacity .3s ;} .info-container {
        display: flex; justify-content: space-around; background-color: #f7f9fa; padding: 20px; flex-wrap: wrap;}
        .info-item { display: flex; flex: 0.22; justify-content: space-between; align-items: center; } .info-item-icon {
        font-size: 30px; margin-right: 20px; } .menu-item-image{width: 250px; height: 150px;object-fit: cover;
        border-radius: 12px;} .menu-container{ display: flex; justify-content: space-between; flex-wrap: wrap; }
        .menu-item{ display: flex; flex-direction: column; margin-bottom: 20px; transition: opacity .2s, transform .2s;
        flex: 0.2} .menu-item:hover{cursor: pointer; opacity: 0.9; transform: scale(1.05); } .rate{ display:
        inline-block; } .checked { color: orange; } .menu-category-image{width: 320px; height: 200px; object-fit: cover;
        border-radius: 12px;} .category-lable{font-size: 12px; background-color: #ACD2CC; font-weight: 700; width:
        fit-content; padding: 3px 5px;}
        {{!  }}
        .menu-item:after { content: ''; position: absolute; top: 0; left: 0; width: 0; height: 100%; background-color:
        rgba(255,255,255,0.3); -webkit-transition: none; -moz-transition: none; transition: none; }
        .menu-item:hover:after { width: 120%; background-color: rgba(255,255,255,0); -webkit-transition: all 0.4s
        ease-in-out; -moz-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out; }
    </style>
</head>

<div>
    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img
                    class="slider-img"
                    src="https://www.inductionhouse.com.au/Online%20Learning%20Slider%202.jpg"
                    alt=""
                />
            </div>
            <div class="swiper-slide">
                <img
                    class="slider-img"
                    src="https://www.inductionhouse.com.au/Online%20Learning%20Slider%202.jpg"
                    alt=""
                />
            </div>
            <div class="swiper-slide">
                <img
                    class="slider-img"
                    src="https://www.inductionhouse.com.au/Online%20Learning%20Slider%202.jpg"
                    alt=""
                />
            </div>
        </div>
        <div class="swiper-pagination"></div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>

    <br />
    <div class="info-container">
        <div class="info-item">
            <div class="info-item-icon"><i class="fa fa-play" aria-hidden="true"></i></div>
            <b>Học các kỹ năng có nhu cầu lớn với hơn 213000 khóa học video</b>
        </div>
        <div class="info-item">
            <div class="info-item-icon"><i class="fa fa-star" aria-hidden="true"></i></div>
            <b>Chọn khóa học do chuyên gia trong thế giới thực giảng dạy</b>
        </div>
        <div class="info-item">
            <div class="info-item-icon"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></div>
            <b>Học theo tốc độ phù hợp với bạn, với quyền truy cập suốt đời trên thiết bị di động và máy tính để bàn</b>
        </div>
    </div>

    <div class="card text-left mx-auto border-0" style="width: 90%">
        <div class="card-body">
            <h3 class="card-title"><b>Các lĩnh vực hàng đầu</b></h3>
            <div class="menu-container">
                <div class="menu-item">
                    <img
                        class="menu-category-image"
                        src="https://www.incimages.com/uploaded_files/image/1920x1080/getty_537311951_100178.jpg"
                        alt=""
                    />
                    <b>Thiết kế</b>
                </div>
                <div class="menu-item">
                    <img
                        class="menu-category-image"
                        src="https://kinhnghiemlaptrinh.com/wp-content/uploads/2020/03/image1.jpg"
                        alt=""
                    />
                    <b>Phát triển</b>
                </div>
                <div class="menu-item">
                    <img
                        class="menu-category-image"
                        src="https://img-cdn.inc.com/image/upload/w_1920,h_1080,c_fill/images/panoramic/GettyImages-1218421190_472791_dz1c6d.jpg"
                        alt=""
                    />
                    <b>Tiếp thị</b>
                </div>
                <div class="menu-item">
                    <img
                        class="menu-category-image"
                        src="https://cdn.boxhoidap.com/information-technology-co-nghia-la-gi--14a84f45d41dfb3762c0c9ddb224691c.wepb"
                        alt=""
                    />
                    <b>CNTT và phần mềm</b>
                </div>
                <div class="menu-item">
                    <img
                        class="menu-category-image"
                        src="https://rinconpsicologia.com/wp-content/uploads/2021/11/Etapas-del-crecimiento-personal.jpg"
                        alt=""
                    />
                    <b>Phát triển cá nhân</b>
                </div>
                <div class="menu-item">
                    <img
                        class="menu-category-image"
                        src="https://www.investopedia.com/thmb/Pk6uNfDE1m-3UDl3E-htLoZGYCQ=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/businessplan_v1_0725-cd245eeb11d643c081fa4654d5ad75cc.png"
                        alt=""
                    />
                    <b>Kinh doanh</b>
                </div>
                <div class="menu-item">
                    <img
                        class="menu-category-image"
                        src="https://shootq.com/wp-content/uploads/2017/05/Fotolia_150026021_Subscription_Monthly_M.jpg"
                        alt=""
                    />
                    <b>Nhiếp ảnh</b>
                </div>
                <div class="menu-item">
                    <img
                        class="menu-category-image"
                        src="https://live-production.wcms.abc-cdn.net.au/df497cd4d6f290bd222de75d5bbdf0d1?impolicy=wcms_crop_resize&cropH=394&cropW=700&xPos=0&yPos=0&width=862&height=485"
                        alt=""
                    />
                    <b>Âm nhạc</b>
                </div>
            </div>
        </div>
    </div>

    <div class="card text-left mx-auto border-0" style="width: 90%">
        <div class="card-body">
            <h3 class="card-title"><b>Khóa học nổi bật</b></h3>
            <div class="menu-container">
                <div class="menu-item">
                    <img class="menu-item-image" src="https://www.patterns.dev/img/reactjs/react-logo@3x.svg" alt="" />
                    <b>ReactJS cho người mới bắt đầu</b>
                    <p style="font-size: 12px; margin-bottom: 3px; color: rgb(109, 107, 107);">Hau Nguyen</p>
                    <div class="rate">
                        <span style="font-weight: bold; color: #CE810E;">4,2</span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span style="font-size: 14px; margin-bottom: 3px; color: rgb(109, 107, 107);">(621)</span>
                    </div>
                    <b>999.000đ</b>
                    <p class="category-lable">CNTT và phần mềm</p>
                </div>
                <div class="menu-item">
                    <img class="menu-item-image" src="https://www.patterns.dev/img/reactjs/react-logo@3x.svg" alt="" />
                    <b>ReactJS cho người mới bắt đầu</b>
                    <p style="font-size: 12px; margin-bottom: 3px; color: rgb(109, 107, 107);">Hau Nguyen</p>
                    <div class="rate">
                        <span style="font-weight: bold; color: #CE810E;">4,2</span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span style="font-size: 14px; margin-bottom: 3px; color: rgb(109, 107, 107);">(621)</span>
                    </div>
                    <b>999.000đ</b>
                    <p class="category-lable">CNTT và phần mềm</p>
                </div>
                <div class="menu-item">
                    <img class="menu-item-image" src="https://www.patterns.dev/img/reactjs/react-logo@3x.svg" alt="" />
                    <b>ReactJS cho người mới bắt đầu</b>
                    <p style="font-size: 12px; margin-bottom: 3px; color: rgb(109, 107, 107);">Hau Nguyen</p>
                    <div class="rate">
                        <span style="font-weight: bold; color: #CE810E;">4,2</span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span style="font-size: 14px; margin-bottom: 3px; color: rgb(109, 107, 107);">(621)</span>
                    </div>
                    <b>999.000đ</b>
                    <p class="category-lable">CNTT và phần mềm</p>
                </div>
                <div class="menu-item">
                    <img class="menu-item-image" src="https://www.patterns.dev/img/reactjs/react-logo@3x.svg" alt="" />
                    <b>ReactJS cho người mới bắt đầu</b>
                    <p style="font-size: 12px; margin-bottom: 3px; color: rgb(109, 107, 107);">Hau Nguyen</p>
                    <div class="rate">
                        <span style="font-weight: bold; color: #CE810E;">4,2</span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span style="font-size: 14px; margin-bottom: 3px; color: rgb(109, 107, 107);">(621)</span>
                    </div>
                    <b>999.000đ</b>
                    <p class="category-lable">CNTT và phần mềm</p>
                </div>
                <div class="menu-item">
                    <img class="menu-item-image" src="https://www.patterns.dev/img/reactjs/react-logo@3x.svg" alt="" />
                    <b>ReactJS cho người mới bắt đầu</b>
                    <p style="font-size: 12px; margin-bottom: 3px; color: rgb(109, 107, 107);">Hau Nguyen</p>
                    <div class="rate">
                        <span style="font-weight: bold; color: #CE810E;">4,2</span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span style="font-size: 14px; margin-bottom: 3px; color: rgb(109, 107, 107);">(621)</span>
                    </div>
                    <b>999.000đ</b>
                    <p class="category-lable">CNTT và phần mềm</p>
                </div>
            </div>
        </div>
    </div>

    <div class="card text-left mx-auto border-0" style="width: 90%">
        <div class="card-body">
            <h3 class="card-title"><b>Khóa học được xem nhiều nhất</b></h3>
            <div class="menu-container">
                <div class="menu-item">
                    <img class="menu-item-image" src="https://www.patterns.dev/img/reactjs/react-logo@3x.svg" alt="" />
                    <b>ReactJS cho người mới bắt đầu</b>
                    <p style="font-size: 12px; margin-bottom: 3px; color: rgb(109, 107, 107);">Hau Nguyen</p>
                    <div class="rate">
                        <span style="font-weight: bold; color: #CE810E;">4,2</span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span style="font-size: 14px; margin-bottom: 3px; color: rgb(109, 107, 107);">(621)</span>
                    </div>
                    <b>999.000đ</b>
                    <p class="category-lable">CNTT và phần mềm</p>
                </div>
                <div class="menu-item">
                    <img class="menu-item-image" src="https://www.patterns.dev/img/reactjs/react-logo@3x.svg" alt="" />
                    <b>ReactJS cho người mới bắt đầu</b>
                    <p style="font-size: 12px; margin-bottom: 3px; color: rgb(109, 107, 107);">Hau Nguyen</p>
                    <div class="rate">
                        <span style="font-weight: bold; color: #CE810E;">4,2</span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span style="font-size: 14px; margin-bottom: 3px; color: rgb(109, 107, 107);">(621)</span>
                    </div>
                    <b>999.000đ</b>
                    <p class="category-lable">CNTT và phần mềm</p>
                </div>
                <div class="menu-item">
                    <img class="menu-item-image" src="https://www.patterns.dev/img/reactjs/react-logo@3x.svg" alt="" />
                    <b>ReactJS cho người mới bắt đầu</b>
                    <p style="font-size: 12px; margin-bottom: 3px; color: rgb(109, 107, 107);">Hau Nguyen</p>
                    <div class="rate">
                        <span style="font-weight: bold; color: #CE810E;">4,2</span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span style="font-size: 14px; margin-bottom: 3px; color: rgb(109, 107, 107);">(621)</span>
                    </div>
                    <b>999.000đ</b>
                    <p class="category-lable">CNTT và phần mềm</p>
                </div>
                <div class="menu-item">
                    <img class="menu-item-image" src="https://www.patterns.dev/img/reactjs/react-logo@3x.svg" alt="" />
                    <b>ReactJS cho người mới bắt đầu</b>
                    <p style="font-size: 12px; margin-bottom: 3px; color: rgb(109, 107, 107);">Hau Nguyen</p>
                    <div class="rate">
                        <span style="font-weight: bold; color: #CE810E;">4,2</span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span style="font-size: 14px; margin-bottom: 3px; color: rgb(109, 107, 107);">(621)</span>
                    </div>
                    <b>999.000đ</b>
                    <p class="category-lable">CNTT và phần mềm</p>
                </div>
                <div class="menu-item">
                    <img class="menu-item-image" src="https://www.patterns.dev/img/reactjs/react-logo@3x.svg" alt="" />
                    <b>ReactJS cho người mới bắt đầu</b>
                    <p style="font-size: 12px; margin-bottom: 3px; color: rgb(109, 107, 107);">Hau Nguyen</p>
                    <div class="rate">
                        <span style="font-weight: bold; color: #CE810E;">4,2</span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span style="font-size: 14px; margin-bottom: 3px; color: rgb(109, 107, 107);">(621)</span>
                    </div>
                    <b>999.000đ</b>
                    <p class="category-lable">CNTT và phần mềm</p>
                </div>
                <div class="menu-item">
                    <img class="menu-item-image" src="https://www.patterns.dev/img/reactjs/react-logo@3x.svg" alt="" />
                    <b>ReactJS cho người mới bắt đầu</b>
                    <p style="font-size: 12px; margin-bottom: 3px; color: rgb(109, 107, 107);">Hau Nguyen</p>
                    <div class="rate">
                        <span style="font-weight: bold; color: #CE810E;">4,2</span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span style="font-size: 14px; margin-bottom: 3px; color: rgb(109, 107, 107);">(621)</span>
                    </div>
                    <b>999.000đ</b>
                    <p class="category-lable">CNTT và phần mềm</p>
                </div>
                <div class="menu-item">
                    <img class="menu-item-image" src="https://www.patterns.dev/img/reactjs/react-logo@3x.svg" alt="" />
                    <b>ReactJS cho người mới bắt đầu</b>
                    <p style="font-size: 12px; margin-bottom: 3px; color: rgb(109, 107, 107);">Hau Nguyen</p>
                    <div class="rate">
                        <span style="font-weight: bold; color: #CE810E;">4,2</span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span style="font-size: 14px; margin-bottom: 3px; color: rgb(109, 107, 107);">(621)</span>
                    </div>
                    <b>999.000đ</b>
                    <p class="category-lable">CNTT và phần mềm</p>
                </div>
                <div class="menu-item">
                    <img class="menu-item-image" src="https://www.patterns.dev/img/reactjs/react-logo@3x.svg" alt="" />
                    <b>ReactJS cho người mới bắt đầu</b>
                    <p style="font-size: 12px; margin-bottom: 3px; color: rgb(109, 107, 107);">Hau Nguyen</p>
                    <div class="rate">
                        <span style="font-weight: bold; color: #CE810E;">4,2</span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span style="font-size: 14px; margin-bottom: 3px; color: rgb(109, 107, 107);">(621)</span>
                    </div>
                    <b>999.000đ</b>
                    <p class="category-lable">CNTT và phần mềm</p>
                </div>
                <div class="menu-item">
                    <img class="menu-item-image" src="https://www.patterns.dev/img/reactjs/react-logo@3x.svg" alt="" />
                    <b>ReactJS cho người mới bắt đầu</b>
                    <p style="font-size: 12px; margin-bottom: 3px; color: rgb(109, 107, 107);">Hau Nguyen</p>
                    <div class="rate">
                        <span style="font-weight: bold; color: #CE810E;">4,2</span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span style="font-size: 14px; margin-bottom: 3px; color: rgb(109, 107, 107);">(621)</span>
                    </div>
                    <b>999.000đ</b>
                    <p class="category-lable">CNTT và phần mềm</p>
                </div>
                <div class="menu-item">
                    <img class="menu-item-image" src="https://www.patterns.dev/img/reactjs/react-logo@3x.svg" alt="" />
                    <b>ReactJS cho người mới bắt đầu</b>
                    <p style="font-size: 12px; margin-bottom: 3px; color: rgb(109, 107, 107);">Hau Nguyen</p>
                    <div class="rate">
                        <span style="font-weight: bold; color: #CE810E;">4,2</span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span style="font-size: 14px; margin-bottom: 3px; color: rgb(109, 107, 107);">(621)</span>
                    </div>
                    <b>999.000đ</b>
                    <p class="category-lable">CNTT và phần mềm</p>
                </div>
            </div>
        </div>
    </div>

    <div class="card text-left mx-auto border-0" style="width: 90%">
        <div class="card-body">
            <h3 class="card-title"><b>Khóa học mới nhất</b></h3>
            <div class="menu-container">
                <div class="menu-item">
                    <img class="menu-item-image" src="https://www.patterns.dev/img/reactjs/react-logo@3x.svg" alt="" />
                    <b>ReactJS cho người mới bắt đầu</b>
                    <p style="font-size: 12px; margin-bottom: 3px; color: rgb(109, 107, 107);">Hau Nguyen</p>
                    <div class="rate">
                        <span style="font-weight: bold; color: #CE810E;">4,2</span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span style="font-size: 14px; margin-bottom: 3px; color: rgb(109, 107, 107);">(621)</span>
                    </div>
                    <b>999.000đ</b>
                    <p class="category-lable">CNTT và phần mềm</p>
                </div>
                <div class="menu-item">
                    <img class="menu-item-image" src="https://www.patterns.dev/img/reactjs/react-logo@3x.svg" alt="" />
                    <b>ReactJS cho người mới bắt đầu</b>
                    <p style="font-size: 12px; margin-bottom: 3px; color: rgb(109, 107, 107);">Hau Nguyen</p>
                    <div class="rate">
                        <span style="font-weight: bold; color: #CE810E;">4,2</span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span style="font-size: 14px; margin-bottom: 3px; color: rgb(109, 107, 107);">(621)</span>
                    </div>
                    <b>999.000đ</b>
                    <p class="category-lable">CNTT và phần mềm</p>
                </div>
                <div class="menu-item">
                    <img class="menu-item-image" src="https://www.patterns.dev/img/reactjs/react-logo@3x.svg" alt="" />
                    <b>ReactJS cho người mới bắt đầu</b>
                    <p style="font-size: 12px; margin-bottom: 3px; color: rgb(109, 107, 107);">Hau Nguyen</p>
                    <div class="rate">
                        <span style="font-weight: bold; color: #CE810E;">4,2</span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span style="font-size: 14px; margin-bottom: 3px; color: rgb(109, 107, 107);">(621)</span>
                    </div>
                    <b>999.000đ</b>
                    <p class="category-lable">CNTT và phần mềm</p>
                </div>
                <div class="menu-item">
                    <img class="menu-item-image" src="https://www.patterns.dev/img/reactjs/react-logo@3x.svg" alt="" />
                    <b>ReactJS cho người mới bắt đầu</b>
                    <p style="font-size: 12px; margin-bottom: 3px; color: rgb(109, 107, 107);">Hau Nguyen</p>
                    <div class="rate">
                        <span style="font-weight: bold; color: #CE810E;">4,2</span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span style="font-size: 14px; margin-bottom: 3px; color: rgb(109, 107, 107);">(621)</span>
                    </div>
                    <b>999.000đ</b>
                    <p class="category-lable">CNTT và phần mềm</p>
                </div>
                <div class="menu-item">
                    <img class="menu-item-image" src="https://www.patterns.dev/img/reactjs/react-logo@3x.svg" alt="" />
                    <b>ReactJS cho người mới bắt đầu</b>
                    <p style="font-size: 12px; margin-bottom: 3px; color: rgb(109, 107, 107);">Hau Nguyen</p>
                    <div class="rate">
                        <span style="font-weight: bold; color: #CE810E;">4,2</span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span style="font-size: 14px; margin-bottom: 3px; color: rgb(109, 107, 107);">(621)</span>
                    </div>
                    <b>999.000đ</b>
                    <p class="category-lable">CNTT và phần mềm</p>
                </div>
                <div class="menu-item">
                    <img class="menu-item-image" src="https://www.patterns.dev/img/reactjs/react-logo@3x.svg" alt="" />
                    <b>ReactJS cho người mới bắt đầu</b>
                    <p style="font-size: 12px; margin-bottom: 3px; color: rgb(109, 107, 107);">Hau Nguyen</p>
                    <div class="rate">
                        <span style="font-weight: bold; color: #CE810E;">4,2</span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span style="font-size: 14px; margin-bottom: 3px; color: rgb(109, 107, 107);">(621)</span>
                    </div>
                    <b>999.000đ</b>
                    <p class="category-lable">CNTT và phần mềm</p>
                </div>
                <div class="menu-item">
                    <img class="menu-item-image" src="https://www.patterns.dev/img/reactjs/react-logo@3x.svg" alt="" />
                    <b>ReactJS cho người mới bắt đầu</b>
                    <p style="font-size: 12px; margin-bottom: 3px; color: rgb(109, 107, 107);">Hau Nguyen</p>
                    <div class="rate">
                        <span style="font-weight: bold; color: #CE810E;">4,2</span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span style="font-size: 14px; margin-bottom: 3px; color: rgb(109, 107, 107);">(621)</span>
                    </div>
                    <b>999.000đ</b>
                    <p class="category-lable">CNTT và phần mềm</p>
                </div>
                <div class="menu-item">
                    <img class="menu-item-image" src="https://www.patterns.dev/img/reactjs/react-logo@3x.svg" alt="" />
                    <b>ReactJS cho người mới bắt đầu</b>
                    <p style="font-size: 12px; margin-bottom: 3px; color: rgb(109, 107, 107);">Hau Nguyen</p>
                    <div class="rate">
                        <span style="font-weight: bold; color: #CE810E;">4,2</span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span style="font-size: 14px; margin-bottom: 3px; color: rgb(109, 107, 107);">(621)</span>
                    </div>
                    <b>999.000đ</b>
                    <p class="category-lable">CNTT và phần mềm</p>
                </div>
                <div class="menu-item">
                    <img class="menu-item-image" src="https://www.patterns.dev/img/reactjs/react-logo@3x.svg" alt="" />
                    <b>ReactJS cho người mới bắt đầu</b>
                    <p style="font-size: 12px; margin-bottom: 3px; color: rgb(109, 107, 107);">Hau Nguyen</p>
                    <div class="rate">
                        <span style="font-weight: bold; color: #CE810E;">4,2</span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span style="font-size: 14px; margin-bottom: 3px; color: rgb(109, 107, 107);">(621)</span>
                    </div>
                    <b>999.000đ</b>
                    <p class="category-lable">CNTT và phần mềm</p>
                </div>
                <div class="menu-item">
                    <img class="menu-item-image" src="https://www.patterns.dev/img/reactjs/react-logo@3x.svg" alt="" />
                    <b>ReactJS cho người mới bắt đầu</b>
                    <p style="font-size: 12px; margin-bottom: 3px; color: rgb(109, 107, 107);">Hau Nguyen</p>
                    <div class="rate">
                        <span style="font-weight: bold; color: #CE810E;">4,2</span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span style="font-size: 14px; margin-bottom: 3px; color: rgb(109, 107, 107);">(621)</span>
                    </div>
                    <b>999.000đ</b>
                    <p class="category-lable">CNTT và phần mềm</p>
                </div>
            </div>
        </div>
    </div>
</div>