.btn-add {
  background-color: #52ab98;
  border-color: transparent;
}
.btn-add:hover {
  background-color: #2b6777;
  border-color: transparent;
}
#btn-back-to-top {
  display: none !important;
}
.form-submit {
  margin-top: 80px;
  margin-bottom: 20px;
}
