<div class="container-fluid" style="margin-top: 80px;">
  <div class="container">
        <div class="card text-center">
          <div class="card-header">
            <h3>How about a working title?</h3>
            <p>It's ok if you can't think of a good title now. You can change it later.</p>
          </div>

          <div class="card-body">
              <div class="pl-5 pr-5 d-flex justify-content-center">
                  <div class="input-group mb-5 mt-5" style="width:60%">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="e.g. Learn basic Javascript"
                    />
                  </div>
              </div>
          </div>
    </div>
  </div>
</div>