{{#section 'js'}}
<script>
  $('#step2').click(function() {
    $('#form-step2').submit();
  })
</script>
{{/section}}
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top row">
        <a class="navbar-brand col-2" href="#" style="color: black">AcademyOnline</a>
        <div class="border-left col-2">
            <p style="margin-bottom:0; line-height: 50px; padding-left: 5px; font-size: 20px;">Step 2 of 3</p>
        </div>
        <div class="col-8">
            <a href="/teacher/profile/my_course" class="float-right pr-3 font-weight-bold" style="text-decoration:none; font-size:20px;">Exit</a>
        </div>
</nav>
<div class="container-fluid" style="margin-top: 80px;">
  <div class="container">
        <div class="card text-center">
          <div class="card-header">
            <h3>What language best fits the knowledge you'll share?</h3>
          </div>
          <form id="form-step2">
            <div class="card-body">
                <div class="pl-5 pr-5 d-flex justify-content-center">
                  <div class="input-group mb-5 mt-5" style="width: 60%;">
                    <select
                      class="custom-select"
                      id="category-input"
                      name="language"
                    >
                      {{#each languages}}
                        <option value="{{name}}">{{name}}</option>
                      {{/each}}
                    </select>
                  </div>
              </div>
            </div>
          </form>
    </div>
  </div>
</div>
<footer class="bg-light" style="position: fixed; left: 0; bottom: 0; width: 100%; height: 10%;">
      <div class="float-left m-3">
        <button type="button" onclick="history.back();" class="btn btn-secondary">
            <p class="h6 mb-0">Previous</p>
        </button>
      </div>

      <div class="float-right m-3">
        <a href="#" class="btn btn-primary" id="step2">
            <p class="h6 mb-0">Continue</p>
        </a>
      </div>
</footer>