#sidebar {
  min-width: 270px;
  max-width: 270px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  z-index: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

#sidebar ul li a {
  padding: 10px 0;
  display: block;
  color: black;
}

a:hover {
  text-decoration: none;
}

#content {
  flex: 1;
}

/*****************************************/
.main-container {
  margin-top: 10vh;
  display: flex;
}

.category-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.category-container:hover {
  cursor: pointer;
}

.dropdown-arrow {
  font-size: 20px;
  align-self: center;
}

.category {
  font-weight: 600;
  font-size: 20px;
}

/* .rotate {
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.rotate.down {
  -moz-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
} */

.course-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  transition: opacity 0.3s;
}

.course-container:hover {
  cursor: pointer;
  opacity: 0.8;
}

.course {
  display: flex;
  flex: 0.9;
}

.course-img {
  width: 250px;
  height: 150px;
  object-fit: cover;
  border-radius: 12px;
  margin-right: 20px;
}

.rate {
  display: inline-block;
  margin: 5px 0;
}
.star {
  color: orange;
}

.category-lable-container {
  display: flex;
}

.category-lable {
  font-size: 12px;
  font-weight: 700;
  width: fit-content;
  padding: 3px 5px;
  margin-right: 5px;
  border-radius: 3px;
}

.category-level-I {
  background-color: #acd2cc;
}

.category-level-II {
  background-color: #e996fb;
}

.price {
  font-size: 20px;
  font-weight: bold;
}

.card {
  align-items: center;
}

.pagination {
  align-items: center;
}

.language {
  transition: opacity 0.15s;
}

.language:hover {
  opacity: 0.3;
}
