html, body {
  height: 100%;
  font-family: "Numans", sans-serif;
  color: black;
}

.container {
  margin: 25vh;
  height: 100%;
  align-content: center;
}

.card {
  height: 300px;
  width: 400px;

}

.social_icon span {
  font-size: 60px;
  margin-left: 10px;
  color: #ffc312;
}

.social_icon span:hover {
  color: black;
  cursor: pointer;
}

.card-header{
  background: #2b6777;
  color: white;
  margin: 0 0 15px 0;
  font-family: "JetBrains Mono";
}

.social_icon {
  position: absolute;
  right: 20px;
  top: -45px;
}

.input-group-prepend span {
  width: 50px;
  background-color: #52ab98;
  color: black;
  border: 0 !important;
}

input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.login_btn {
  color: white;
  font-weight: bold;
  font-size: 18px;
  background-color: #52ab98;
  width: 100px;
}

.login_btn:hover {
  color: black;
  font-weight: bold;
  background-color: #c8d8e4;
}

.links {
  color: white;
}

.links a {
  margin-left: 4px;
}
