.card {
  width: 400px;
}

.social_icon span {
  font-size: 60px;
  margin-left: 10px;
  color: #ffc312;
}


.card-header{
  background: #2b6777;
  color: white;
  margin: 0 0 15px 0;
  font-family: "JetBrains Mono";
  opacity: 0.9;
}

.social_icon {
  position: absolute;
  right: 20px;
  top: -45px;
}

.input-group-prepend span {
  text-align: center;
  background-color: #52ab98;
  border: 0 !important;
}

input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.login_btn {
  color: white;
  font-weight: bold;
  font-size: 18px;
  background-color: #52ab98;
  width: 100%;
}

.links {
  color: white;
}

.links a {
  margin-left: 4px;
}
