.card-header{
    background: #2b6777;
    color: white;
    margin: 0 0 15px 0;
    font-family: "JetBrains Mono";
}
.login_btn {
    color: white;
    font-weight: bold;
    font-size: 18px;
    background-color: #52ab98;
    width: 100%;
}

.login_btn:hover {
    opacity: 0.9;
    color: white;
}

.container {
    padding: 16px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

