.main-content-student .sidebar {
  font-weight: 500;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 0;
  box-shadow: inset -1px 0 0 rgb(0 0 0 / 10%);
}

.main-content-student .sidebar .card {
  border: 0;
}

.main-content-student .sidebar .img-profile {
  display: flex;
  justify-content: center;
  padding: 0.8rem 1.2rem;
}

.main-content-student .sidebar .img-profile img {
  width: 7rem;
  height: 7rem;
}

.main-content-student .course-btn {
  margin-top: 4px;
  background-color: #52ab98 !important;
  border: 0;
}

.main-content-student .list-group-item.active {
  z-index: 2;
  color: #52ab98;
  background-color: #F2F2F2;
  border: 0;
}

.main-content-student .list-group-item {
  background-color: #f2f2f2;
  border: 0;
}

.email-input-block {
  display: flex;
}

.email-input-block .btn-email {
  padding: 0 0.1rem;
  margin: 0;
  border-color: #52ab98;
  font-size: 2.4rem;
  color: #fff;
  background-color: #52ab98;
}

.email-input-block .form-row {
  margin-bottom: 1rem;
}

.block-pagination ul {
  justify-content: center;
  margin: 0;
  margin-top: 1rem;
}

.img-choose img {
  width: 20rem;
  height: 20rem;
}

.more-courses-container {
  display: flex;
  flex-direction: column;
  height: 28rem;
}

.more-courses-container .course {
  position: relative;
  display: flex;
  text-align: left;
  border: 1px solid #C8D8E4;
  margin-bottom: 0.5rem;
  padding: 1rem;
  background-color: #fff;
}

.more-courses-container .course .img-block {
  position: relative;
}

.more-courses-container .course .icon-show {
  position: absolute;
  top: 0.3rem;
  left: 0.3rem;
  font-size: 1.2rem;
  color: #fff;
}

.more-courses-container .course img {
  width: 13.5rem;
  height: 6.6rem;
}

.more-courses-container .course .course-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.more-courses-container .course-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
  width: 100%;
}

/* 
.more-courses-container .course-body button::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
} */

.more-courses-container .course-body .progress {
  height: 0.2rem;
}

.more-courses-container .course-body .block-review {
  display: flex;
  justify-content: space-between;
}

.course-categoty {
  font-size: 0.9rem;
  font-weight: 700;
  color: #000;
  background-color: #fff;
  border: 0;
  margin: 0;
  padding: 0;
}

.btn-lean-view {
  margin-top: 0.5rem;
}

.btn-view {
  padding-top: 0.37rem !important;
  padding-bottom: 0.37rem !important;
  font-size: 1rem;
}

.btn-lean-view .btn-course {
  position: relative;
  border: 1px solid #52AB98;
  background-color: #52AB98;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  padding: 0.3rem 0.9rem;
  margin-left: 0.2rem;
  font-weight: 500;
}

.btn-lean-view .btn-course:hover {
  opacity: 0.9;
  color: black;
}

.course-title {
  font-size: 0.75rem;
  font-weight: 400;
  padding-bottom: 0.2rem;
  margin-bottom: 0.2rem;
}

.no-courses {
  padding-top: 9.5rem;
  padding-bottom: 9.5rem;
}

.title-noti {
  font-size: 5rem;
  font-weight: 400;
}

.rating {
  font-size: 0.75rem;
}

.rating .star-icon span {
  color: #ff9900;
}

.price-course {
  font-size: 1.3rem;
  font-weight: 660;
}

.custom-file .file-input-new {
  width: 100%;
  display: block;
}

.btn-file:hover {
  cursor: pointer;
}

.btn-file {
  background-color: #52AB98 !important;
}

.Short {
  width: 100%;
  background-color: #dc3545;
  margin-top: 5px;
  height: 3px;
  color: #dc3545;
  font-weight: 500;
  font-size: 12px;
}

.Good {
  width: 100%;
  background-color: #28a745;
  margin-top: 5px;
  height: 3px;
  color: #28a745;
  font-weight: 500;
  font-size: 12px;
}

#strengthMessage,
#strengthMessage1,
#strengthMessage2 {
  text-align: start;
}

.favotite-container {
  height: 40rem;
}

.page-item.active .page-link {
  background-color: #64B4A3;
  border-color: #64B4A3;
}

.page-link {
  color: #64B4A3;
}