{{#section "css"}}
  <link
    rel="stylesheet"
    type="text/css"
    href="../../../public/assets/css/admin/add.css"
  />
  <style>
    footer
    { margin-top: 50px; } 
  </style>
{{/section}}
<form method="post" class="form-submit" style="min-height: 600px;">
  <div
    class="card col-md-9"
    style="margin-left: auto; margin-right:auto; padding:0" 
  >
    <h4
      class="card-header d-flex justify-content-between"
      style="background-color:#52ab98; color:#fff"
    >
      Add Course Category
    </h4>
    <div class="card-body">
      <div class="form-group">
        <label for="txtCategoryName" style="font-weight:bold">
          Category's Name</label>
        <div id="categoryName">
          <i class="fa fa-exclamation" aria-hidden="true"></i>
          Please fill out Category's Name
        </div>
        <input
          name="CategoryName"
          type="text"
          class="form-control"
          id="txtCategoryName"
          placeholder="Name"
        />
      </div>
      <div class="form-group">
        <label for="txtCategoryImage" style="font-weight:bold">
          Category's Image Link</label>
        <div id="linkImage">
          <i class="fa fa-exclamation" aria-hidden="true"></i>
          Please fill out Category's Image Link
        </div>
        <input
          name="CategoryImage"
          type="text"
          class="form-control"
          id="txtCategoryImage"
          placeholder="Image Link"
        />
      </div>
    </div>
    <div class="card-footer d-flex text-muted justify-content-between">
      <a
        class="btn btn-outline-success"
        href="/admin/managecategory"
        role="button"
      >
        <i class="fa fa-backward" aria-hidden="true"></i>
        Back
      </a>
      <button
        type="submit"
        class="btn btn-primary btn-add"
        formaction="/admin/addcategory/post"
      >
        <i class="fa fa-check" aria-hidden="true"></i>
        Add New
      </button>
    </div>
  </div>
</form>
{{#section "js"}}
  <script src="../../../public/assets/js/admin/addCategory.js"></script>
{{/section}}