{{#section "css"}}
  <link
    rel="stylesheet"
    type="text/css"
    href="../../../public/assets/css/admin/add.css"
  />
{{/section}}
<form method="post" class="form-submit">
  <div
    class="card col-md-9"
    style="margin-left: auto; margin-right:auto; padding:0"
  >
    <h4
      class="card-header d-flex justify-content-between"
      style="background-color:#52ab98; color:#fff"
    >
      Add Language
    </h4>
    <div class="card-body">
      <div class="form-group">
        <label for="txtLanguageName" style="font-weight:bold">Enter New
          Language's Name</label>
        <input
          name="LanguageName"
          type="text"
          class="form-control"
          id="txtLanguageName"
        />
      </div>
      <div class="form-group">
        <label for="txtLanguageImage" style="font-weight:bold">Enter New
          Language's Image Link</label>
        <input
          name="LanguageImage"
          type="text"
          class="form-control"
          id="txtLanguageImage"
        />
      </div>
      <div class="form-group">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Options
              Category</label>
          </div>
          <select
            class="custom-select"
            id="inputGroupSelect01"
            name="CategoryName"
          >
            {{#each categories}}
              <option value="{{name}}">{{name}}</option>
            {{/each}}
          </select>
        </div>
      </div>
    </div>
    <div class="card-footer d-flex text-muted justify-content-between">
      <a
        class="btn btn-outline-success"
        href="/admin/managelanguage"
        role="button"
      >
        <i class="fa fa-backward" aria-hidden="true"></i>
        Back
      </a>
      <button
        type="submit"
        class="btn btn-primary btn-add"
        formaction="/admin/addlanguage/post"
      >
        <i class="fa fa-check" aria-hidden="true"></i>
        Add New
      </button>
    </div>
  </div>
</form>
{{#section "js"}}
  <script src="../../../public/assets/js/admin/addLanguage.js"></script>
{{/section}}