{{#section "css"}}
  <link
    rel="stylesheet"
    type="text/css"
    href="../../../public/assets/css/admin/add.css"
  />
  <style>
      @media only screen and (min-width: 55em) and (max-width: 80.9375em){
        footer {
         margin-top: 50px;
        }
      }
      @media only screen and (min-width: 81em){
        footer {
          position: fixed;
        }
      }
    </style>
{{/section}}
<form method="post" class="form-submit">
  <div
    class="card col-md-9"
    style="margin-left: auto; margin-right:auto; padding:0"
  >
    <h4
      class="card-header d-flex justify-content-between"
      style="background-color:#52ab98; color:#fff"
    >
      Add User Teacher
    </h4>
    <div class="card-body">
      <div class="form-group">
        <label for="txtTeacherFirstName" style="font-weight:bold">
          First Name</label>
        <div id="firstName">
          <i class="fa fa-exclamation" aria-hidden="true"></i>
          <span id="firstNameText"></span>
        </div>
        <input
          name="TeacherFirstName"
          type="text"
          class="form-control"
          id="txtTeacherFirstName"
        />
        <label for="txtTeacherLastName" style="font-weight:bold">Last Name</label>
        <div id="lastName">
          <i class="fa fa-exclamation" aria-hidden="true"></i>
          <span id="lastNameText"></span>
        </div>
        <input
          name="TeacherLastName"
          type="text"
          class="form-control"
          id="txtTeacherLastName"
        />
        <label for="txtTeacherEmail" style="font-weight:bold">Email</label>
        <div id="email">
          <i class="fa fa-exclamation" aria-hidden="true"></i>

          <span id="emailText"></span>
        </div>
        <input
          name="TeacherEmail"
          type="text"
          class="form-control"
          id="txtTeacherEmail"
        />
        <label
          for="txtTeacherPassword"
          style="font-weight:bold"
        >Password</label>
        <div id="password">
          <i class="fa fa-exclamation" aria-hidden="true"></i>

          <span id="passwordText"></span>
        </div>
        <input
          name="TeacherPassword"
          type="password"
          class="form-control"
          id="txtTeacherPassword"
        />
      </div>
      <div class="form-group">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">
              Gender</label>
          </div>
          <select class="custom-select" id="inputGroupSelect01" name="Gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
        </div>
      </div>
    </div>
    <div class="card-footer d-flex text-muted justify-content-between">
      <a
        class="btn btn-outline-success"
        href="/admin/manageteachers"
        role="button"
      >
        <i class="fa fa-backward" aria-hidden="true"></i>
        Back
      </a>
      <button
        type="submit"
        class="btn btn-primary btn-add"
        formaction="/admin/addteacher/post"
      >
        <i class="fa fa-check" aria-hidden="true"></i>
        Add New
      </button>
    </div>
  </div>
</form>
{{#section "js"}}
  <script src="../../../public/assets/js/admin/addTeacher.js"></script>
{{/section}}