{{#section "css"}}
  <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet" />
  <link
    rel="stylesheet"
    type="text/css"
    href="../../public/assets/css/teacher/teacher_profile.css"
  />
  {{! <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css"> }}
{{/section}}

{{#section "js"}}
  {{! <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script> }}
  <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
  <script>
    var quill = new Quill('#editor', { theme: 'snow' });

    {{! $('#dob').datetimepicker({
      timepicker: false,
      format: 'd/m/Y',
      mask: true,
      maxDate:'0'
    }); }}
  </script>

{{/section}}
<div class="container-fluid" style="margin-top: 80px;">
  <div class="container">
    <div class="row">
      <nav class="col-2 bg-light sidebar">
        <ul class="nav flex-column">
          <li>
            <div class="img-profile">
              <img
                class="rounded-circle img-thumbnail"
                src="https://media.npr.org/assets/img/2022/05/25/gettyimages-917452888-edit_custom-c656c35e4e40bf22799195af846379af6538810c-s1100-c50.jpg"
                alt="none"
              />
            </div>
            <div>
              <p class="h6 img-name">Lê Đông Đông</p>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">
              <span data-feather="home"></span>
              Profile
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/teacher/profile/photo">
              <span data-feather="file"></span>
              Photo
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/teacher/profile/account_security">
              <span data-feather="shopping-cart"></span>
              Account Security
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/teacher/profile/my_course">
              <span data-feather="users"></span>
              My Course
            </a>
          </li>
        </ul>

        <h6
          class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"
        >
          <span>Last course</span>
          <a class="d-flex align-items-center text-muted" href="#">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Course 1
            </a>
          </li>
        </ul>
      </nav>
      <div class="col-9 h-100">
        <div class="card text-center">
          <div class="card-header">
            <h3>Public profile</h3>
            <p>Add information about yourself</p>
          </div>

          <div class="card-body">
            <form method="post" action="/profile">
              <div class="pl-5 pr-5">
                <div class="input-group form-group">
                  <input
                    type="text"
                    class="form-control border border-dark"
                    value="{{this.user.firstName}}"
                    name="firstName"
                    style="height: 3.0rem;"
                  />
                </div>
                <div class="input-group form-group">
                  <input
                    type="text"
                    class="form-control border border-dark"
                    value="{{this.user.lastName}}"
                    name="lastName"
                    style="height: 3.0rem;"
                  />
                </div>
                {{! <div class="input-group form-group">
                  <input
                    type="text"
                    class="form-control border border-dark"
                    placeholder="Date of Birth"
                    name="dob"
                    id="dob"
                    style="height: 3.0rem;"
                  />
                </div> }}

                <div class="input-group form-group" style="margin-bottom: 2px;">
                  <input
                    type="text"
                    class="form-control border border-dark"
                    placeholder="Headline"
                    name="description"
                    style="height: 3.0rem;"
                  />
                </div>
                <p
                  class="form-group"
                  style="font-size: 12px; text-align: left;"
                >Add a professional headline like, "Instructor at Udemy" or
                  "Architect."</p>

                <!-- Create the editor container -->
                <div style="margin-bottom: 2px;">
                  <div id="editor">
                  </div>
                </div>
                <p
                  class="form-group"
                  style="font-size: 12px; text-align: left;"
                >Add description</p>

                <button
                  type="submit"
                  class="btn btn-primary d-flex px-4"
                >SAVE</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>