<form method="post" style="margin-top: 80px">
  <div class="card">
    <h4
      class="card-header d-flex justify-content-between"
      style="background-color:#52ab98; color:#fff"
    >
      Edit Category
    </h4>
    <div class="card-body">
      <div class="form-group">
        <label for="txtCategoryID" style="font-weight:bold">Category ID</label>
        <input
          name="CategoryID"
          type="text"
          class="form-control"
          id="txtCategoryID"
          value="{{category._id}}"
          readonly
        />
      </div>
      <div class="form-group mb-3">
        <label for="txtCategoryCurrentName" style="font-weight:bold">Current
          Name</label>
        <input
          name="CategoryCurrentName"
          type="text"
          class="form-control"
          id="txtCategoryCurrentName"
          value="{{category.name}}"
          readonly
        />

      </div>
      <div class="form-group mb-3">
        <label for="txtCategoryName" style="font-weight:bold">New Category's
          Name</label>
        <input
          name="CategoryName"
          type="text"
          class="form-control"
          id="txtCategoryName"
        />
      </div>

    </div>
    <div class="card-footer text-muted">
      <a
        class="btn btn-outline-success"
        href="/admin/managecategory"
        role="button"
      >
        <i class="fa fa-backward" aria-hidden="true"></i>
        Back
      </a>
      <button
        type="button"
        class="btn btn-danger"
        data-toggle="modal"
        data-target="#exampleModal"
      >
        <i class="fa fa-trash" aria-hidden="true"></i>
        Delete
      </button>
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Notification</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Are you sure want to delete this category ?
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >Close</button>
              <button
                type="submit"
                class="btn btn-danger"
                formaction="/admin/editcategory/del"
              >Delete</button>
            </div>
          </div>
        </div>
      </div>

      <button
        type="submit"
        class="btn btn-primary"
        formaction="/admin/editcategory/patch"
      >
        <i class="fa fa-check" aria-hidden="true"></i>
        Save
      </button>
    </div>
  </div>
</form>