<div class="main-container">

</div>

<div class="card text-left mx-auto border-0" style="width: 90%; margin-top: 12vh;">
  <div class="card-body">
    <p>
      <button
        class="btn btn-primary"
        type="button"
        data-toggle="collapse"
        data-target="#collapseExample"
        aria-expanded="false"
        aria-controls="collapseExample"
      >
        Lập trình web
      </button>
    </p>
    <div class="collapse" id="collapseExample">
      <div class="card text-left" style="width: 20%;">
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
            React
          </a>
          <a href="#" class="list-group-item list-group-item-action">Angular</a>
          <a href="#" class="list-group-item list-group-item-action">VueJS</a>
        </div>
      </div>
    </div>
  </div>
</div>